body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
	color: #00c7a9;
	text-decoration: none;
}

.has-nice-link a:not(.button):not(.no-underline) {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.has-nice-link a:not(.button):not(.no-underline):hover {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.is-centered {
	margin-left: auto;
	margin-right: auto;
}

.container {
	top: -50px;
}

#main h1 > span {
	opacity: 0.8
}

#feedback-form .required:invalid {
	border-color: #ff3860;
}
